@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope/static/Manrope-Medium.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Manrope', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --light-green:#D3E97A;
  --dark-gray:#1A1A1A;
  --light-gray:#C7C7C7;
  --brown:#484848;
}